.chat-right-aside{
    width: 330px;
    margin-left: 78.3%;
    margin-top: -1.4%;
}

.chat-list {
    max-height: 500px;
    overflow-y: auto;
  }

  .chat-rbox{
    height: 500px;
  }

  .chat-list{
    height: 500px;
  }