
<div class="row">
    <!-- Column -->
    <div class="col-lg-3 col-md-6">
        <div class="card">
            <div class="card-body">
                <div class="row p-t-10 p-b-10">
                    <!-- Column -->
                    <div class="col p-r-0">
                        <h1 class="font-light">86</h1>
                        <h6 class="text-muted">New Clients</h6></div>
                    <!-- Column -->
                    <div class="col text-right align-self-center">
                        <div data-label="20%" class="css-bar m-b-0 css-bar-primary css-bar-20"><i class="mdi mdi-account-circle"></i></div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- Column -->
    <!-- Column -->
    <div class="col-lg-3 col-md-6">
        <div class="card">
            <div class="card-body">
                <div class="row p-t-10 p-b-10">
                    <!-- Column -->
                    <div class="col p-r-0">
                        <h1 class="font-light">248</h1>
                        <h6 class="text-muted">All Projects</h6></div>
                    <!-- Column -->
                    <div class="col text-right align-self-center">
                        <div data-label="30%" class="css-bar m-b-0 css-bar-danger css-bar-20"><i class="mdi mdi-briefcase-check"></i></div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- Column -->
    <!-- Column -->
    <div class="col-lg-3 col-md-6">
        <div class="card">
            <div class="card-body">
                <div class="row p-t-10 p-b-10">
                    <!-- Column -->
                    <div class="col p-r-0">
                        <h1 class="font-light">352</h1>
                        <h6 class="text-muted">New Items</h6></div>
                    <!-- Column -->
                    <div class="col text-right align-self-center">
                        <div data-label="40%" class="css-bar m-b-0 css-bar-warning css-bar-40"><i class="mdi mdi-star-circle"></i></div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- Column -->
    <!-- Column -->
    <div class="col-lg-3 col-md-6">
        <div class="card">
            <div class="card-body">
                <div class="row p-t-10 p-b-10">
                    <!-- Column -->
                    <div class="col p-r-0">
                        <h1 class="font-light">159</h1>
                        <h6 class="text-muted">Invoices</h6></div>
                    <!-- Column -->
                    <div class="col text-right align-self-center">
                        <div data-label="60%" class="css-bar m-b-0 css-bar-info css-bar-60"><i class="mdi mdi-receipt"></i></div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- Column -->
</div>

<div style = "display:flex">
    <div>
        <video controls #localVideo autoplay playsinline></video>

    </div>
    <div class="card">
        <div class="card-body">

            <h3 class="font-normal">Asi es como luce tu stream.</h3>
            <p class="m-b-0 m-t-10">Pulsa el boton para empezar a stremear</p>

            <form *ngIf="!conversation" [formGroup]="conversationFormGroup" (ngSubmit)="getOrcreateConversation()">

            <button #start (click)="startStream()" class="btn btn-success btn-rounded waves-effect waves-light m-t-20">Start Stream</button>


        </form>
        <button *ngIf="conversation"  #stop (click) = "stopStream()"type="submit" class="btn btn-danger btn-rounded waves-effect waves-light m-t-20">Stop Stream</button>

        </div>
    </div>
</div>
<div id="app">

    <p>
        <img alt="ApiRTC logo" src="./assets/ApiRTC.png" width="66" height="76" /> &
        <img alt="Angular logo" src="./assets/angular.svg" width="76" height="76" />
    </p>
           
       
    <div *ngIf="conversation" class="container">
        <div id="remote-container" class="fullscreen">
        </div>
        <div id="local-container" [ngClass]="{'over':remotesCounter>0}">
            <video #localVideo autoplay playsinline></video>
        </div>
    </div>
    <button (click) = "detectar()">ver publicados</button>
    <button (click) = "getAllStreams()">streams</button>
    <app-chat></app-chat>
</div>



